# Игнорирование папки .idea (настройки PyCharm)
.idea/

# Игнорирование папки __pycache__ (Python-кэш)
__pycache__/

# Игнорирование папки venv 
venv/

#Игнорирование файлов пдф
fullbody_training
split_training
weight_loss_program